{% extends 'base.html' %}
{% block title %}TheAan- Blogs{% endblock title %}
{% block body %}

<div class="container">
{% for blog in blogs1 %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{blog.blogTitle}}</h1>
      <p class="lead my-3">{{blog.blogSummary  |slice:45}}...</p>
      <p class="lead mb-0"><a href="{% url 'showBlog' blog.blogId %}" class="text-white fw-bold">Continue reading...</a></p>
    </div>
{% endfor %}
</div>

<div class="container">
<div class="row mb-2">

{% for blog in blogs %}
  <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{blog.blogCategory}}</strong>
          <h3 class="mb-0">{{blog.blogTitle}}</h3>
          <div class="mb-1 text-muted">{{blog.blogDate}}</div>
          <p class="card-text mb-auto">{{blog.blogSummary| slice:45}}...</p>
          <a href="{%url 'showBlog' blog.blogId %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{blog.blogImage.url}}" width="200" height="250" alt="">
        </div>
      </div>
    </div>
{% endfor %}

</div>
</div>





{% endblock body %}


