<table class="table table-hover">
<thead>
<tr>
<td>S.N</td>
<td>Level</td>
<td>Institute</td>
<td>Year</td>
<td>Division/grade</td>
<td>University</td>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>SLC</td>
<td>Shree janta higher secondary school Pakadiya, Badhnihar, Parsa</td>
<td>2070</td>
<td>First</td>
<td>Government</td>
</tr>
<tr>
<td>2</td>
<td>+2</td>
<td>Columbus Hss and College Sankhamul, New Baneshwor, Kathmandu</td>
<td>2071-2072</td>
<td>First</td>
<td>NEB</td>
</tr>
<tr>
<td>3</td>
<td>level 3,4,5(BSC.IT)</td>
<td>International school of management and technology GairiGaun, Tinkune, Kathmandu</td>
<td>2073-2077</td>
<td>First</td>
<td>Pearson</td>
</tr>
<tr>
<td>4</td>
<td>level 6(BSC.IT)</td>
<td>The British College, Thapathali, Kathmandu</td>
<td>2077-2078</td>
<td>First</td>
<td>Leeds Beckett University, UK</td>
</tr>
</tbody>
</table>