{% extends 'base.html' %}
{% block title %}TheAan - Notes{% endblock title %}
{% block body %}
<div class="container">
<h1 class="text-center">
My Notes
</h1>

<form method="GET" class="d-flex mb-4" action="searchNote">
<input type="Text" class="form-text " name="queryNote" id="queryNote" placeholder="Search notes..." style="width: 80%;height: auto;">
<input type="submit" value="Search" class="btn btn-success mx-1">
</form>

<div class="row">
{% for n in note %}
<div class="col-md-12 my-2">
<div style="background-color:#FFFF88;height: auto;width:100%; border:1px solid black;" class="container">
<h3 class="text-center"> {{n.noteTitle}} </h3>
<p style="padding:35px;height:auto;width:100%">{{n.noteDesc|linebreaksbr}}
</p>
</div>
</div>
{% endfor %}
</div>
</div>

{% endblock body %}